<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>numbers get</title>
</head>
<body>
     <h1>{{numbers}}</h1>
<div>{{#each numbers}}

   <h1>{{this}}</h1>
    {{/each}}
    </div>
</body>
</html>